<div class="p-3 mb-2 gray-2-bg d-flex align-items-center justify-content-between">
  <div>
    <app-company-info-simple></app-company-info-simple>
    <app-welcome-employee></app-welcome-employee>
  </div>
  <app-active-account-indicator></app-active-account-indicator>
</div>

<div class="container-fluid py-4">
  <div class="row" *ngIf="selfService.isAdminOrManager">
    <div class="col-lg-12 col-md-16 col-24 mb-5 mb-md-none">
      <app-users-card [users]="users"></app-users-card>
    </div>
    <div class="col-lg-12 col-md-16 col-24">
      <app-teams-card [teams]="teams"></app-teams-card>
    </div>
  </div>

  <div class="row" *ngIf="selfService.isIntern">
    <div class="col-xl-5 col-lg-6 col col-24 mb-4">
      <app-intern-teams-list [interns]="interns" [teams]="teams"></app-intern-teams-list>
    </div>
    <div class="col-xl-14 col-lg-12 col-24 mb-5">
      <app-intern-team-details [team]="selectedTeam" [users]="users"></app-intern-team-details>
    </div>
    <div class="col-xl-5 col-lg-6 col-24">
      <app-fellow-interns-list [interns]="interns"></app-fellow-interns-list>
    </div>
  </div>
</div>
