<ul class="list-group mb-4">
  <li class="list-group-item hover" style="cursor: pointer;" (click)="editEmitter.emit(0)">
    <div class="mb-3 d-flex align-content-middle justify-content-between">
      <h3>Company</h3>
      <i class="fas fa-edit"></i>
    </div>

    <div class="row">
      <div class="col-md-6 mb-3 mb-md-0">
        <p class="font-weight-light mb-2">Name</p>
        <h5>{{ company.name }}</h5>
      </div>
    </div>
  </li>
</ul>
<button autofocus class="btn btn-lg btn-primary" (click)="completeSetup()">
  Complete Setup
</button>
