<a [routerLink]="[(user.userType == UserType.Admin || user.userType == UserType.Manager ? '/employees/' : '/interns/') + user._id]"
  [routerLinkActive]="'active'" class="user-card no-highlight">
  <div class="card-body">
    <div class="d-flex align-content-center justify-content-between">
      <h3 class="font-weight-bolder">{{ user.firstName }} {{ user.lastName }}</h3>
      <div *ngIf="user.deactivated">
        <i class="danger fas fa-minus-circle"></i>
      </div>
      <div *ngIf="!user.deactivated && user.setupCompleted">
        <i class="green fas fa-check-circle"></i>
      </div>
    </div>
    <p class="font-weight-normal hint mb-2">{{ user.email }}</p>
    <app-user-type-badge [userType]="user.userType"></app-user-type-badge>
  </div>
</a>
