$colors: ("black": #1d1c1d,
  "midnight-blue": #124559,
  "steel-blue": #71a0b1,
  "ash": #ececec);

$content-width: 1054px;

@mixin light-theme {
  --background: white;
  --button-text-color: white;
  --text-color: #342E37;
  --input-background: #f7f7f7;
  --input-border: #AEC3B0;
  --input-placeholder: #AEC3B0;
  --input-background-hover: var(--background);
  --primary-color: #FF8552;
  --secondary-color: #71a0b1;
  --admin-color: #43AA8B;
  --manager-color: #A3320B;
  --intern-color: #326273;
  --success-color: #2bd0ba;
  --danger-color: #d14128;
  --border-color: #f3f3f3;
  --background-hover: #f3f3f3;
  --gray-1: #fafafa;
  --gray-2: #f3f3f3;
  --gray-3: #e9e9e9;
  --hint-color: #8c8c8e;
  --box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.01), 0 3px 24px rgba(42, 46, 46, 0.09);
  transition: all 0.25s ease;
}

@mixin dark-theme {
  --background: #1d1d1d;
  --button-text-color: #1d1d1d;
  --text-color: white;
  --input-background: #131314;
  --input-border: #8c8c8e;
  --input-placeholder: #858587;
  --input-background-hover: #131314;
  --primary-color: #FF8552;
  --secondary-color: #71a0b1;
  --success-color: #2bd0ba;
  --danger-color: #d14128;
  --border-color: #0E0D18;
  --background-hover: #131314;
  --hint-color: #8c8c8e;
  --box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.01), 0 3px 24px rgba(0, 0, 0, 0.6);
  transition: all 0.25s ease;
}

.theme-light {
  @include light-theme;
}

.theme-dark {
  @include dark-theme;
  background: var(--background);
  color: var(--text-color);
}

:root {

  @each $name,
  $color in $colors {
    --#{$name}: #{$color};
    --#{$name}-dark: #{darken($color, 7%)};
    --#{$name}-light: #{lighten($color, 7%)};
  }

  --font-body: 'Roboto',
  sans-serif;
  --font-head: 'ratio',
  sans-serif; // effra erbaum
  --font-size: 13px;


  @include light-theme;
}

.hint {
  color: var(--hint-color);
  font-weight: 400;
}

body {
  background: var(--background);
  color: var(--text-color);
  margin: 0;
  font-family: var(--font-body);
  font-size: var(--font-size);
  letter-spacing: .5px;
  font-weight: 500;
  padding-top: 64px;
}

a {
  color: var(--text-color);
  text-decoration: none;

  &:hover {
    text-decoration: none;
    color: var(--primary-color);
  }
}

a.no-highlight {
  &:hover {
    color: var(--text-color);

  }
}

.hover:hover {
  transition: .25s ease;
  background-color: var(--background-hover);

  .list-group-item {
    background-color: var(--background-hover);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  // color: var(--h-color);
  font-family: var(--font-body);
  font-weight: 500;
  font-style: normal;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  margin-bottom: 0;
}

p.description {
  font-size: 15px;
}

i {
  svg {
    position: relative;
    width: 1em;
    margin: 0 3px;
    top: 0.125em;
  }
}

.zero-top {
  svg {
    top: 0;
  }
}

.border-right {
  border-color: var(--border-color) !important;
}

.primary {
  color: var(--primary-color);
}

.primary-bg {
  background-color: var(--primary-color);
}

.secondary {
  color: var(--secondary-color);
}

.secondary-bg {
  background-color: var(--secondary-color);
}

.danger {
  color: var(--danger-color);
}

.danger-bg {
  background-color: var(--danger-color);
}

.green {
  color: var(--success-color);
}

.green-bg {
  background-color: var(--success-color);
}

.red {
  color: var(--danger-color);
}

.red-bg {
  background-color: var(--danger-color);
}

.hover-bg {
  background-color: var(--background-hover);
}

.main-bg {
  background-color: var(--background);
}

.intern-color {
  color: var(--intern-color);
}

.intern-bg {
  background-color: var(--intern-color);
}

.manager-color {
  color: var(--manager-color);
}

.manager-bg {
  background-color: var(--manager-color);
}

.admin-color {
  color: var(--admin-color);
}

.admin-bg {
  background-color: var(--admin-color);
}

.gray-1-color {
  color: var(--gray-1);
}

.gray-1-bg {
  background-color: var(--gray-1);
}

.gray-2-color {
  color: var(--gray-2);
}

.gray-2-bg {
  background-color: var(--gray-2);
}

.gray-3-color {
  color: var(--gray-3);
}

.gray-3-bg {
  background-color: var(--gray-3);
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  min-height: 250px;
  margin-top: 120px;
  font-size: 0.85em;
  opacity: 0.8;
}

hr {
  // margin: 15px 0;
  width: 100%;
  margin: 0;
  border: none;
  border-top: 1px solid var(--border-color);
}

li {
  padding: 0.5em 0;
}


blockquote {
  position: relative;
  padding-left: 1em;
  border-left: var(--nav-bg) 3px dashed;
  font-size: 1.2em;
  font-weight: 300;
}

// Color Utilities

@each $name,
$color in $colors {
  .#{$name} {
    color: $color;
  }

  .#{$name}-bg {
    background: $color;
  }
}

// Random Stuff

::selection {
  background: var(--blue);
  color: white;
}
