.users-nav-link {
  margin: 0 12px;
  padding-bottom: 12px;
  display: inline-block;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

.users-nav-link.active {
  box-shadow: inset 0px -2px 0px 0px var(--primary-color);
  //   border-bottom: 2px solid var(--primary-color);
}
