<div class="row no-gutters" style="height: 100vh;">
  <div class="theme-light main-bg col-md-12 d-flex">
    <div class="d-flex align-items-center justify-content-center" style="width: 100%;">
      <div class="text-center">
        <h2 class="mb-3">Intern</h2>
        <a [routerLink]="['/connect/intern/login']" class="btn btn-primary">Log In</a>
      </div>
    </div>
  </div>
  <div class="theme-dark main-bg col-md-12 d-flex">
    <div class="d-flex align-items-center justify-content-center" style="width: 100%;">
      <div class="text-center">
        <h2 class="mb-3">Company</h2>
        <a [routerLink]="['/connect/company/login']" class="btn btn-primary mr-3">Log In</a>
        <a [routerLink]="['/connect/company/signup']" class="btn btn-secondary">Sign Up</a>
      </div>
    </div>
  </div>
</div>
