<div class="p-4">
  <div *ngIf="user">
    <div class="d-flex align-items-start justify-content-between">
      <div>
        <h2>{{ user?.firstName }} {{ user?.lastName }}</h2>
        <p class="hint">{{ user?.email }}</p>
      </div>

      <div class="d-flex align-items-center">
        <span class="danger mr-3 d-inline-block" *ngIf="user.deactivated">Deactivated</span>
        <app-user-details-menu [user]="user" (deactivateOrActivateEmitter)="deactivateOrActivateIntern()">
        </app-user-details-menu>
      </div>

    </div>
  </div>
  <div *ngIf="!user">
    Loading
  </div>
</div>
