<div class="row no-gutters h-100">
  <div class="d-none d-md-block col-lg-6 col-md-8 mh-100" style="overflow-y: scroll;">
    <app-users-sidebar [users]="interns"></app-users-sidebar>
  </div>
  <div class="d-md-none col mh-100">
    <app-user-small-bar></app-user-small-bar>
  </div>
  <div class="col-lg-18 col-md-16 mh-100" style="overflow-y: scroll;">
    <div class="gray-1-bg">
      <app-user-details [user]="selectedIntern" (updatedUser)="updatedUser($event)"></app-user-details>
      <app-users-content-menu></app-users-content-menu>
      <app-no-user-selected *ngIf="!selectedIntern" [title]="'intern'"></app-no-user-selected>
    </div>
    <div class="p-4">
      <pre>{{ selectedIntern | json}}</pre>
    </div>
  </div>
</div>
