<a href="javascript:void(0);" class="dropdown-toggle nav-link" data-toggle="dropdown" aria-haspopup="true"
  aria-expanded="false">
  Account
</a>
<div class="dropdown-menu dropdown-menu-right" style="width: 248px;">
  <li class="dropdown-item dropdown-item-account disabled dropdown-divider">
    {{ selfService.fullName() }}
    <app-user-type-badge class="ml-2" [userType]="selfService.userType" [size]="'sm'"></app-user-type-badge>
  </li>
  <a [routerLink]="['/login']" (click)="authService.logout()" class="dropdown-item dropdown-item-account">
    Log Out
  </a>
</div>
